Options All -Indexes
ErrorDocument 400 /errores/index.html
ErrorDocument 401 /errores/index.html
ErrorDocument 403 /errores/index.html
ErrorDocument 404 /errores/index.html
ErrorDocument 405 /errores/index.html
ErrorDocument 408 /errores/index.html
ErrorDocument 414 /errores/index.html
ErrorDocument 500 /errores/index.html
ErrorDocument 502 /errores/index.html
ErrorDocument 504 /errores/index.html

