::-webkit-scrollbar {
  width: 8px;
  height: 1em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #383838;
  border: 0.25em solid #383838;
  border-radius: 10vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #5A5A5A;
}
